div.nextbutton1 {
  z-index: 10;
  width: 20%;
  height: 5%;
  position: absolute;
  top: 5%;
  left: 10px;
  background-color: #7611B7;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  user-select: none;
  border-radius: 10px; 
}
div.nextbutton2 {
  z-index: 10;
  width: 20%;
  height: 5%;
  position: absolute;
  top: 15%;
  left: 10px;
  background-color: #b71177;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  user-select: none;
  border-radius: 10px; 
}